@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700&display=swap');

:root{
    font-family: 'Lora', serif;
}
header, body,ul,h4, p{
    margin:0;
    padding:0;
}
/* DEFAULT CLASSES */
.default-container-text{
    font-size: 14px;
    text-align: center;
    color: #fff;
}
.main-headings{
    font-size: 30px;
    text-transform: uppercase;
    text-align:center;
    color:#fff;
    margin-top: 20px;;
}
hr{
    width: 50%;
    margin-bottom: 20px;
}
.mini-headings{
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    margin: 25px 0
}
/* DEFAULT CLASSES */



/* header */
header {
    background-color: #000;
    border-bottom: 2px solid #fff;
}
li{
    list-style: none;
}
.top-menu li a{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    padding: 5px;
    border:1px solid transparent; 
}
.top-menu li a:hover{
    border-bottom: 1px solid #fff;
}
.header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width:768px){
    .header nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .top-menu{
        display: flex;
        flex-wrap:wrap;
        justify-content:space-evenly;
    }
}
@media(min-width:1224px){
    .header nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .top-menu li a{
        margin: 0 20px;
    }
    nav a img{
        height: 100px;
    }
    
}
/* header */

.wrapper{
    background: linear-gradient(0deg, rgba(19, 19, 19, 0.82), rgba(19, 19, 19, 0.82)), url(../img/bg1.jpg);
    background-attachment: fixed;
    background-size: cover;
    
    margin: auto;
}

/* baner */
.baner{
    background-color: rgba(0, 0, 0, 0.753);
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0;
}
.img-logo-big{
    margin:auto;
}
.baner-paragraph h4{
    text-transform: uppercase;
    color:#fff;
    font-size:30px;
    text-align:center;
}
.baner-paragraph p{
    color:#fff;
    font-size: 18px;
    text-align:center;
    max-width: 350px;
}
.baner-paragraph{
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(min-width:768px){
    .baner-paragraph{
        margin:35px 0;
    }

}
@media(min-width:1024px){
    .baner{
        display: flex;
        flex-direction: row ;
    }
    .baner-paragraph{
        margin:55px 0;
    }
    .paragraphs-left, .paragraphs-right{
        margin:30px 20px;
    }
    .img-logo-big img{
        height:250px;
    }
}
/* baner */


/* slider */
.container-beer-slider{

min-width: 320px;
height: 350px;
margin: auto;
max-width: 700px;

}
.container-beer-slider img{
height:auto;
width:300px;
margin:auto
}
.slider__item p{
font-size: 11px;
text-align: center;
color:white;
}
@media(min-width:768px){
    

}
@media(min-width:1024px){
   
}
/* slider */


/* about us */
.about-us-container{
    background-color: #0D0D0D;
    color: #fff;
    text-align:center;
    padding:15px 5px;
}
.default-container-text{
    font-size: 14px;
    padding:10px 0;
}
.container-about-us-gallery{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.container-about-us-gallery img{
    width:300px;
    margin:5px ;
    border-image-width: auto;

}
.flex-dirrection-column{
    display: flex;
    flex-direction: column;
    
    
}


@media(min-width:768px){
    
    

}
@media(min-width:1024px){
    
}
/* about us */


/* eat tap here */
.eat-tap-here{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url(/img/bg2.jpg);
    mix-blend-mode: luminosity;
    background-size: cover;
}

.eat-here{
    height: 150px;
    width:150px; 
    border: 1px solid #fff;
    transform: rotate(-45deg);
    margin: auto;
    background-color: rgba(196, 196, 196, 0.5);

}
.eat-here a{
    color: #fff;
    transform: rotate(45deg);
    position:absolute;  
    top: 60px;
    left:15px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
.eat-here a:hover{
    color:black;
}
.eat-here:hover{
    border-color:#000;
    background-color:  rgba(196, 196, 196, 0.863);
}

.tap-here a:hover {
    color:black;

}
.tap-here:hover{
    color:black;
}
@media(min-width:768px){
    .eat-tap-here{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

}
@media(min-width:1024px){
   
}
/* eat tap here */


/* private reservations */
.container-private-events-reservations{
    background-color: #000000;
    color:#fff;
    max-width: 900px;
    margin: auto;
    padding: 20px 20px;
}
.container-private-events-reservations h2{
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
    padding:15px 0px;
}
.container-private-events-reservations p{
    text-align: center;
    padding:30px 0; 

}
.container-private-events-reservations p a{
    color: #fff;
    
}
.button-container{
  display: flex;
  justify-content: center;  
}
.reservation-button{
    border: 1px solid #fff;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: rgba(196, 196, 196, 0.13); 
    
}
.reservation-button:hover{
    border: 1px solid #000000;
    color:#000;
}
@media(min-width:768px){
    

}
@media(min-width:1024px){
    
}
/* private reservations */


/* location and hours */
.container-location-hours{
    border: 2px solid #fff;
    background-color: rgba(19, 19, 19, 0.82);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    max-width: 700px;
    margin: auto;

}
.iframe-map{
    padding:50px 0;
    display: flex;
    justify-content: center;
}
@media(min-width:768px){
    .container-location-hours{
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       height: 400px;
       align-items: center;

    }

}
@media(min-width:1024px){
   
}
/* location and hours */


/* footer */
footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 12px;
   
}
.icons-social{
    display: flex;
    justify-content: center;
}
footer img{
    height: 30px;
    padding:5px;
}
@media(min-width:768px){
    

}
@media(min-width:1024px){
   
}
/* footer */

.slider {
    position: relative;
    overflow: hidden;
  }
  .font-size12px{
      font-size: 12px;
  }

  .slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
  }

  .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    height: 350px;
    background: rgba(29, 27, 27, 1);
    
  }

  @media (min-width: 768px) {
    /* .slider__item {
      flex: 0 0 50%;
      max-width: 50%;
    } */
  }

  .slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
  }

  .slider__control:hover,
  .slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
  }

  .slider__control_left {
    left: 0;
  }

  .slider__control_right {
    right: 0;
  }

  .slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  .slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  .slider__item>div {
    line-height: 250px;
    
    display: flex;
    justify-content: center;
    text-align: center;
    
  }
