@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700&display=swap');

:root{
    font-family: 'Lora', serif;
}
/* DEFAULT CLASSES */
.default-container-text{
    font-size: 14px;
    text-align: center;
    color: #fff;
}
.main-headings{
    font-size: 30px;
    text-transform: uppercase;
    text-align:center;
    color:#fff;
    border-bottom: 1px solid;
    border-bottom-width:thin;
}
.mini-headings{
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    margin: 25px 0
}

/* DEFAULT CLASSES */
header, body,ul,h4, p{
    margin:0;
    padding:0;
}
/* header */
header {
    background-color: #000;
    border-bottom: 2px solid #fff;
}
li{
    list-style: none;
}
.top-menu li a{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    padding: 5px;
    border:1px solid transparent; 
}
.top-menu li a:hover{
    border-bottom: 1px solid #fff;
}
.header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width:768px){
    .header nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .top-menu{
        display: flex;
        flex-wrap:wrap;
        justify-content:space-evenly;
    }
}
@media(min-width:1224px){
    .header nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .top-menu li a{
        margin: 0 20px;
    }
    nav a img{
        height: 100px;
    }
    
}
/* header */



/* baner */
.baner{
    background-color: rgba(0, 0, 0, 0.753);
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0;
}
.img-logo-big{
    margin:auto;
}
.baner-paragraph h4{
    text-transform: uppercase;
    color:#fff;
    font-size:30px;
    text-align:center;
}
.baner-paragraph p{
    color:#fff;
    font-size: 18px;
    text-align:center;
    max-width: 350px;
}
.baner-paragraph{
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(min-width:768px){
    .baner-paragraph{
        margin:35px 0;
    }

}
@media(min-width:1024px){
    .baner{
        display: flex;
        flex-direction: row ;
    }
    .baner-paragraph{
        margin:55px 0;
    }
    .paragraphs-left, .paragraphs-right{
        margin:30px 20px;
    }
    .img-logo-big img{
        height:250px;
    }
}
/* baner */


/* slider */
.container-beer-slider{
background-color: rgba(29, 27, 27, 1);
width: 300px;
height: 350px;
margin: auto;
}
.container-beer-slider img{
height:auto;
width:300px;
margin:auto
}
.container-beer-slider p{
font-size: 11px;
text-align: center;
color:white;
}
@media(min-width:768px){
    

}
@media(min-width:1024px){
   
}
/* slider */


/* about us */
.about-us-container{
    background-color: #0D0D0D;
    color: #fff;
    text-align:center;
    padding:15px 5px;
}
.default-container-text{
    font-size: 14px;
}
.container-about-us-gallery{
    display:none;
}
@media(min-width:768px){
    .container-about-us-gallery{
        display: inline;
    }

}
@media(min-width:1024px){
    .container-about-us-gallery{

    }
}
/* about us */


/* eat tap here */
.eat-tap-here{
    height: 500px;
}
.eat-here{
    height: 150px;
    width:150px;
    border: 1px solid #fff;
    transform: rotate(-45deg);
    margin: auto;
    position: relative;
    top: 50px;
    background-color: rgba(196, 196, 196, 0.5);
}
.eat-here a{
    color: #fff;
    transform: rotate(45deg);
    position:absolute;  
    top: 55px;
    left:15px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
.eat-here a:hover{
    color:black;
}
.eat-here:hover{
    border-color:black;
}
.tap-here{
    position:relative;
    top: 140px;
}
.tap-here a:hover {
    color:black;

}
.tap-here:hover{
    color:black;
}
@media(min-width:768px){
    

}
@media(min-width:1024px){
   
}
/* eat tap here */


/* private reservations */
.container-private-events-reservations{
    background-color: #000000;
    color:#fff;
    padding:20px 0;
}
.container-private-events-reservations h2{
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding:15px 0px;
}
.container-private-events-reservations p{
    text-align: center;
    padding:10px 0;     
}
.container-private-events-reservations p a{
    color: #fff;
}
.button-container{
  display: flex;
  justify-content: center;  
}
.reservation-button{
    border: 1px solid #fff;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: rgba(196, 196, 196, 0.13); 
    
}
@media(min-width:768px){
    

}
@media(min-width:1024px){
   
}
/* private reservations */


/* location and hours */
.container-location-hours{
    border: 2px solid #fff;
    background-color: rgba(19, 19, 19, 0.82);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}
@media(min-width:768px){
    

}
@media(min-width:1024px){
   
}
/* location and hours */


/* footer */
footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 12px;
   
}
.icons-social{
    display: flex;
    justify-content: center;
}
footer img{
    height: 30px;
    padding:5px;
}
@media(min-width:768px){
    

}
@media(min-width:1024px){
   
}
/* footer */


