@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700&display=swap');

:root{
    font-family: 'Lora', serif;
}
header, body,ul,h4, p{
    margin:0;
    padding:0;
}
/* header */
header {
    background-color: #000;
    border-bottom: 2px solid #fff;
    
}
li{
    list-style: none;
}
.top-menu li a{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    padding: 5px;
    border:1px solid transparent; 
}
.top-menu li a:hover{
    border-bottom: 1px solid #fff;
}
.header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width:768px){
    .header nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .top-menu{
        display: flex;
        flex-wrap:wrap;
        justify-content:space-evenly;
    }
}
@media(min-width:1224px){
    .header nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .top-menu li a{
        margin: 0 20px;
    }
    nav a img{
        height: 100px;
    }
    
}

/* header */
.main-headings{
    font-size: 30px;
    text-transform: uppercase;
    text-align:center;
    color:#fff;
    margin-top: 20px;;
}
hr{
    width: 50%;
    margin-bottom: 20px;
}
.mini-headings{
    color:#000;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    margin: 25px 0
}

.container-location-hours{
    border: 2px solid #fff;
    background-color: #c4c4c4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    max-width: 700px;
    margin: auto;

}
.iframe-map{
    padding:50px 0;
    display: flex;
    justify-content: center;
}
@media(min-width:768px){
    .container-location-hours{
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       height: 400px;
       align-items: center;

    }

}
@media(min-width:1024px){
   
}



/* footer */
footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 12px;
   margin-top: 30px;
}
.icons-social{
    display: flex;
    justify-content: center;
}
footer img{
    height: 30px;
    padding:5px;
}
@media(min-width:768px){
    

}
@media(min-width:1024px){
   
}
/* footer */