@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700&display=swap');

:root{
    font-family: 'Lora', serif;
}
header, body,ul,h4, p{
    margin:0;
    padding:0;
}

/* header */
header {
    background-color: #000;
    border-bottom: 2px solid #fff;
    margin-bottom: 30px;
}
li{
    list-style: none;
}
.top-menu li a{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    padding: 5px;
    border:1px solid transparent; 
}
.top-menu li a:hover{
    border-bottom: 1px solid #fff;
}
.header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width:768px){
    .header nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .top-menu{
        display: flex;
        flex-wrap:wrap;
        justify-content:space-evenly;
    }
}
@media(min-width:1224px){
    .header nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .top-menu li a{
        margin: 0 20px;
    }
    nav a img{
        height: 100px;
    }
    
}
.menu-item-igridients, .add-ingridient{
    padding:10px 0;
    font-size: 12px;
}
.menu-item-price{
    padding:10px 0;
}
.icons{
    display: flex;
}

/* header */
.reservation{
    background-color: rgba(196, 196, 196, 0.82);
    margin: 30px 0;
    padding: 0 10px;
    box-sizing: border-box;
}
.text-align-center{
    text-align: center;
}
.font-size-14px{
    font-size: 14px;
}
.container-form-reservation{
    max-width: 900px;
    padding-bottom: 30px;
}
.desc-policy-header{
    margin-bottom: 30px;
}
/* form */
input[type=text],input[type=email], textarea{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    border:1px solid #131313;
}
 input[type=text]:focus{
    background-color: #f0f0f0b0;
}
input[type=email]:focus{
    background-color: #f0f0f0b0;
}
textarea:focus{
    background-color: #f0f0f0b0;
}
#date{
    padding: 5px 5px;
    margin: 8px 0;
}
#textarea{
    width:70%;
}
input[type=submit]{
    border: 1px solid #000;
    padding: 5px 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    background-color: rgba(46, 46, 46, 0.308);
    margin-top: 10px;
}

input[type=submit]:hover{                                   
    background-color: #969696;
}
@media(min-width:768px){
    .container-form-reservation{
        margin: auto;
    }
    .text-align-center{
        padding: 0 50px;
    }
}




/* footer */
footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 12px;
   
}
.icons-social{
    display: flex;
    justify-content: center;
}
footer img{
    height: 30px;
    padding:5px;
}
@media(min-width:768px){
    

}
@media(min-width:1024px){
   
}
/* footer */