@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700&display=swap');

:root{
    font-family: 'Lora', serif;
}
header, body,ul,h4, p{
    margin:0;
    padding:0;
}
/* header */
header {
    background-color: #000;
    border-bottom: 2px solid #fff;
    
}
li{
    list-style: none;
}
.top-menu li a{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    padding: 5px;
    border:1px solid transparent; 
}
.top-menu li a:hover{
    border-bottom: 1px solid #fff;
}
.header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width:768px){
    .header nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .top-menu{
        display: flex;
        flex-wrap:wrap;
        justify-content:space-evenly;
    }
}
@media(min-width:1224px){
    .header nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .top-menu li a{
        margin: 0 20px;
    }
    nav a img{
        height: 100px;
    }
    
}
.menu-item-igridients, .add-ingridient{
    padding:10px 0;
    font-size: 12px;
}
.menu-item-price{
    padding:10px 0;
}
.icons{
    display: flex;
}

/* header */

/* ontap header */
.on-tap{
    background-color: rgba(19, 19, 19, 0.82);
    text-align: center;
}
.header-on-tap{
    color:#fff;
    text-transform: uppercase;
    font-size: 32px;
}
.desc-header-main{
    color:#fff;
    padding-bottom: 20px;
}
/* ontap header */

/* taplist container */
.tap-list{
    color:#fff;
    background-color: rgba(19, 19, 19, 0.82);
    padding: 20px 0;
    margin: 30px 0;
}
.container-header-tap-list{
    text-align: center;
}
.header-tap-list{
    text-transform: uppercase;
    font-size: 32px;
    margin: 0em;

}
.desc-header-upd{
    font-size: 10px;
    margin-bottom: 20px;
    font-style: italic;
}
hr{
    width:30%;
}
/* taplist container */

/* tap-list-items */
.tap-list{
    max-width: 900px;
    margin:auto;
}
.title-beer{
    font-size: 14px;
    font-weight: bold;
}
.title-beer-italic{
    font-style: italic;
    font-size: 12px;
}
.tap-list-item{
    padding: 0px 10px;
    margin: 20px 0;
}
.abv-beer{
    margin:10px 0;
    font-size: 14px;
}
.desc-beer{
    font-size: 12px;
}
.serving{
    display: flex;
}
.serving-sizes{
    font-size: 12px;
    font-weight: bold;
}
.sizes-pint{
    font-size: 12px;
}
@media(min-width:768px){
    .title-beer{
        font-size: 16px;
    }
    .title-beer-italic{
        font-style: italic;
        font-size: 14px;
    }
    .tap-list-item{
        padding: 0px 50px;
        margin: 20px 0;
    }
    .abv-beer{
        margin:10px 0;
        font-size: 16px;
    }
    .desc-beer{
        font-size: 14px;
    }
    .serving{
        display: flex;
    }
    .serving-sizes{
        font-size: 14px;
        font-weight: bold;
    }
    .sizes-pint{
        font-size: 14px;
    }

}
@media(min-width:1024px){

.tap-list{
    
}
}
/* tap-list-items */











/* footer */
footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 12px;
   margin-top: 30px;
}
.icons-social{
    display: flex;
    justify-content: center;
}
footer img{
    height: 30px;
    padding:5px;
}
@media(min-width:768px){
    

}
@media(min-width:1024px){
   
}
/* footer */